/************************
  # FONTS
  ************************/

@font-face {
    font-family: 'roadwayregular';
    src: url('../fonts/roadway_-webfont.eot');
    src: url('../fonts/roadway_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roadway_-webfont.woff2') format('woff2'),
         url('../fonts/roadway_-webfont.woff') format('woff'),
         url('../fonts/roadway_-webfont.ttf') format('truetype'),
         url('../fonts/roadway_-webfont.svg#roadwayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'keep_calmmedium';
    src: url('../fonts/keepcalm-medium-webfont.eot');
    src: url('../fonts/keepcalm-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/keepcalm-medium-webfont.woff2') format('woff2'),
         url('../fonts/keepcalm-medium-webfont.woff') format('woff'),
         url('../fonts/keepcalm-medium-webfont.ttf') format('truetype'),
         url('../fonts/keepcalm-medium-webfont.svg#keep_calmmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




/************************
  # FULL SCREEN
  ************************/

.fullscreen {
	position: relative;
  	width: 100%;
  	height: 100%;
  	min-height: 580px;
  	background-image: url('../images/StopEmotion_Site_Master_01_def.jpg');
  	background-size: cover;
  	background-position: center;
  	font-family: 'roadwayregular';
}
	
	.fullscreen.section-1 {
  		background-image: url('../images/StopEmotion_Site_Master_02_def.jpg');
  	}
  	
  	.fullscreen.section-2 {
  		background-image: url('../images/StopEmotion_Site_Master_03_def.jpg');
  	}
  	
  	.fullscreen.section-3 {
  		background-image: url('../images/StopEmotion_Site_Master_04_def.jpg');
  	}
  	
  	.fullscreen.section-4 {
  		background-image: url('../images/StopEmotion_Site_Master_05_def.jpg');
  	}

.fullscreen .main-title {
	font-family: 'roadwayregular';
}

.fullscreen .sub-title h2{
	font-family: 'keep_calmmedium';
	color: #fff;
	font-size: 20px;	
}
	.fullscreen .sub-title h2 > span {
		font-size: 14px;
	}


.go-down {
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 40px;
	color: #777;
	left: 50%;
	font-size: 32px;
	text-align: center;
	margin-left: -25px;
	cursor: pointer;
}
	
	.go-down:hover {
		color: #fff;
	}





/************************
  # SCREEN-1
  ************************/

#screen-1 .main-title{
	float: right;
	text-align: right;
}
	#screen-1 .main-title h1{
		color: #d6d5d2;
		font-size: 80px;
		text-transform: uppercase;
		text-align: right;
		margin-right: 140px;
		line-height: 60px;
	}	
	
	#screen-1 .main-title h1 > span{
		font-size: 28px;
		color: #fff;
	}

	#screen-1 .sub-title h2 {
		position: absolute;
		bottom: 100px;
		margin-left: 40px;
		line-height: 30px;
	}

	#screen-1 .sub-title h2 > span{
		color: #fff;
		float: right;
	}

	.store-banners {
		max-width: 150px;
		display: inline-block;
		margin-right: 350px;
		margin-top: 100px;
	}

		.store-banners img {
			width: 100%;
			background-color: white;
			margin-bottom: 10px;
		}

		.store-banners h2 {
			text-transform: uppercase;
			color: #c1092c;
			text-align: center;
		}





/************************
  # SCREEN-2
  ************************/

#screen-2 .main-title{
	width: 70%;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -38%;
	text-align: center;
}	
	
	#screen-2 .main-title h1{
		color: #d6d5d2;
		font-size: 10em;
		text-transform: uppercase;
		line-height: 60px;
		margin-bottom: 10px;
	}

		#screen-2 .main-title h1 > span{
			font-family: 'keep_calmmedium';
			color: #fff;
			font-size: 18px;
			text-transform: none;
		}

		#screen-2 button{
			text-transform: uppercase;
			color: #fff;
			font-size: 18px;
			padding-left: 50px;
			padding-right: 50px;
			background-color: #96cb75;
		}

			#screen-2 button:hover{
				background-color: #5FC51F;
			}

#screen-2 .sub-title h2 {
	position: absolute;
	top: 20px;
	margin-left: 40px;
	line-height: 30px;
}

	#screen-2 .sub-title h2 > span{
		color: #fff;
		float: right;
	}





/************************
  # SCREEN-3
  ************************/

#screen-3 .main-title{
	width: 70%;
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -35%;
	text-align: center;
}	
	
	#screen-3 .main-title h1{
		color: #d6d5d2;
		font-size: 10em;
		text-transform: uppercase;
		line-height: 60px;
		margin-bottom: 10px;
	}

		#screen-3 .main-title h1 > span{
			font-family: 'keep_calmmedium';
			color: #fff;
			font-size: 16px;
			text-transform: none;
		}

		#screen-3 button{
			text-transform: uppercase;
			color: #fff;
			font-size: 18px;
			padding-left: 50px;
			padding-right: 50px;
			background-color: #eca961;
		}
			#screen-3 button:hover{
				background-color: #c67116;
			}





/************************
  # SCREEN-4
  ************************/

#screen-4 .main-title{
	width: 70%;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -35%;
	text-align: center;
}	
	
	#screen-4 .main-title h1{
		color: #fff;
		font-size: 10em;
		text-transform: uppercase;
		line-height: 60px;
		margin-bottom: 10px;
	}

		#screen-4 .main-title h1 > span{
			font-family: 'keep_calmmedium';
			color: #fff;
			font-size: 16px;
			text-transform: none;
		}

		#screen-4 button{
			text-transform: uppercase;
			color: #fff;
			font-size: 18px;
			padding-left: 50px;
			padding-right: 50px;
			background-color: #d82c24;
		}
			#screen-4 button:hover{
				background-color: #ab160f;
			}





/************************
  # SCREEN-5
  ************************/

#screen-5 .sub-title{
	width: 100%;
	text-align: right;
	padding-right: 30px;
	padding-top: 30px;
}

#screen-5 .logo-cont {
	position: absolute;
	width: 90%;
	left: 50%;
	margin-left: -45%;
	top: 20%
}
	
	#screen-5 .logo-cont img {
		width: 100%;
	}

#screen-5 .footer {
	background-color: rgba(0,0,0,0.7);
}


/************************
  # NAV BAR
  ************************/

.navbar{
	min-height: 94px;
	font-size: 18px;
	font-weight: lighter;
}

.navbar-inverse {
	background-color: rgba(0, 0, 0, 0.7);
	border-color: transparent;
	border-radius: 0px;
}
	
	.navbar-brand img {
		max-width: 208px;
	}





/************************
  # FOOTER
  ************************/

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding-top: 12px;
	background-color: #f5f5f5;
}

	.footer .col-6{
		width: 50%;
		float: left;
	}

	.footer ul {
		list-style: none;
		color: #808080;
		text-transform: uppercase;
		font-size: 1.2em;
	}

	.footer .col-right {
		text-align: right;
		padding-right: 4%;
	}

		.footer ul li {
			display: inline-block;
			margin-right: 14px;
		}

			.footer ul li a {
				color: #777;
			}

			.footer ul li a:hover {
				color: white;
				text-decoration: none;
			}

			.footer ul li img {
				max-width: 28px;
				margin-left: -10px;
			}




/************************
  # MEDIA QUERIES
  ************************/

/* Small screen ----------- */
@media only screen and (min-width: 768px) and (max-width: 1280px)  {
/* Styles */
	
	#screen-1 .store-banners {
		max-width: 150px;
		display: inline-block;
		margin-right: 150px;
		margin-top: 0px;
	}

	#screen-2 .main-title {
		width: 85%;
		margin-left: -42.5%;
	}

	#screen-3 .main-title {
		width: 85%;
		margin-left: -42.5%;
	}

	#screen-4 .main-title {
		width: 85%;
		margin-left: -42.5%;
	}

	#screen-4 .main-title h1 {
		font-size: 8em;
	}


	#screen-2 .sub-title h2, 
	#screen-3 .sub-title h2 {
		margin-top: 0px;
	}

	#screen-3 button {
		margin-top:	160px; 
	}


	.fullscreen .sub-title h2 {
		font-size: 14px;
	}

	.fullscreen .sub-title h2 > span{
		font-size: 12px;
	}
}

