<!-- Section #1 -->
<div id="screen-1" class="fullscreen" ng-style="winHeight">

	<!-- Top Navigation -->
	<div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img ng-src="/images/logo-new.png"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="">ABOUT</a></li>
            <li><a href="">MAGAZINE</a></li>
            <li><a href="">VIDEO</a></li>
            <li><a href="">TUTORIAL</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	<!-- END Top Navigation -->

	<!-- Main Title -->
	<div class="main-title">
		<h1>Shoot. Play. Share. <br>
			<span>From Sharing Photos to Share Experiences</span>
		</h1>
		<!-- Store banners -->
		<div class="store-banners">
			<img ng-src="/images/google_play_icon.png">
			<img style="padding:2px" ng-src="/images/app-store.png">
			<h2>Available in April 2015
			</h2>
		</div>
		<!-- END Store banners  -->
	</div>
	<!-- END Main Title -->

	<!-- Sub Title -->
	<div class="sub-title">
		<h2>“The digital photographer potentially plays a postmodern visual dj.” <br>
			<span>FRED RITCHIN</span>
		</h2>
	</div>
	<!-- END Sub Title -->

	<!-- Go down arrow -->
	<a class="go-down" href="#screen-2" du-smooth-scroll><i class="fa fa-chevron-down"></i></a>
	<!-- END Go down arrow -->

</div>

<!-- Section #2 -->
<div id="screen-2" class="fullscreen section-1" ng-style="winHeight">

	<!-- Sub Title -->
	<div class="sub-title">
		<h2>“Photography is a reflection of societies that have spawned and embranced it.” <br>
			<span>FRED RITCHIN</span>
		</h2>
	</div>
	<!-- END Sub Title -->

	<!-- Main Title -->
	<div class="main-title">
		<h1>Shoot Emotions <br>
			<span>Shoot your pictures in stopEmotion with the App’s camera.</span>
		</h1>
		<button class="btn">Watch Demo</button>
	</div>
	<!-- END Main Title -->

	<!-- Go down arrow -->
	<a class="go-down" href="#screen-3" du-smooth-scroll><i class="fa fa-chevron-down"></i></a>
	<!-- END Go down arrow -->

</div>

<!-- Section #3 -->
<div id="screen-3" class="fullscreen section-2" ng-style="winHeight">

	<!-- Main Title -->
	<div class="main-title">
		<h1>Play pictures<br>
			<span>Visualize and edit images at your own rhythm by synchronizing them to the music you listen.</span>
		</h1>
		<button class="btn">Watch the Tutorial</button>
	</div>
	<!-- END Main Title -->

	<!-- Go down arrow -->
	<a class="go-down" href="#screen-4" du-smooth-scroll><i class="fa fa-chevron-down"></i></a>
	<!-- END Go down arrow -->

</div>

<!-- Section #4 -->
<div id="screen-4" class="fullscreen section-3" ng-style="winHeight">

	<!-- Main Title -->
	<div class="main-title">
		<h1>Share Experience<br>
			<span>Share with the world your personal video.</span>
		</h1>
		<button class="btn">Keep me update</button>
	</div>
	<!-- END Main Title -->

	<!-- Go down arrow -->
	<a class="go-down" href="#screen-5" du-smooth-scroll><i class="fa fa-chevron-down"></i></a>
	<!-- Go down arrow -->

</div>

<!-- Section #5 -->
<div id="screen-5" class="fullscreen section-4" ng-style="winHeight">
	
	

	<!-- Big Logo -->
	<div class="logo-cont">
		<img ng-src="/images/logo-new.png" />
	</div>
	<!-- END Big Logo -->


	<!-- Footer -->
		<div class="footer">
			<!-- <div class="row"> -->
			  <div class="col-6">
			  	<ul>
			  		<li>Follow Us:</li>
			  		<li><img ng-src="https://www.facebook.com/images/fb_icon_325x325.png" /></li>
			  		<li><img src="https://blog.twitter.com/sites/all/themes/gazebo/img/ios_homescreen_icon.png"/></li>
			  		<li><img src="http://upload.wikimedia.org/wikipedia/commons/0/04/Google_Plus_logo.png"></li>
			  	</ul>
			  </div>
			  <div class="col-6 col-right">
			  	<ul>
			  		<li><a href="">Jobs</a></li>
			  		<li><a href="">Team</a></li>
			  		<li><a href="">Press</a></li>
			  		<li><a href="">Support</a></li>
			  		<li><a href="">Privacy</a></li>
			  	</ul>
			  </div>
			<!-- </div> -->
		</div>
	<!-- END Footer -->

</div>

